
#progressBar {
    width: 200px;
    height: 14px;
    margin: auto;
    margin-top: 20px;
    border:solid 1px #dddddd;
    display: none;
}

#progress {
    height: 14px;
    background: url("../images/progress.png");
    margin: auto;
    float: left;

}

#progressText {
    width: 280px;
    text-align: center;
    margin: 15px auto auto;
    color: #808080;
    font-size: .9em;
}


.ui-widget{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
    margin: auto;
    font-family: helvetica;
}
.ui-widget-content{
    background-color: #ffffff;
    background-image: none;
}

.ui-dialog-titlebar{
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: #dddddd;
    background-color: #808080;
    background-image: none;
    border: none;
    color: #dddddd;
}

.ui-state-default .ui-icon {
    background-image: url("../images/close.png");
    background-position: top right;
    height: 24px;
    width: 25px;
    margin-left: -15px;
    margin-top: -11px;

}
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
    height: 24px;
    width: 25px;
    margin-left: -18px;
    margin-top:  -14px;
}
